@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: visible;
}

#content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  color: #fff;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.setting-header {
  text-align: center;
  margin-top: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
  font-weight: 900;
}

.setting-subheader {
  border-bottom: 2px solid #a8a8a8;
  width: 20%;
  margin-top: 6px;
}

/* Style the container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 40px;
  border-radius: 5px;
  background-color: rgba(68, 68, 68, 0.5);
  padding: 15px;
  overflow: auto;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

/* ---------------------------------------------------
    THERMOSTAT.HTML STYLES
----------------------------------------------------- */
.leftbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 15px 15px 15px 15px;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  text-justify: center;
  text-align: center;
}

.rightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 300px;
  margin: 0;
  padding: 0px 15px 15px 15px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

.sensordata, .weatherdata {
  background: rgba(68, 68, 68, 0.5);
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 5vw;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sensordata {
  min-height: 80px;
  max-height: 100px;
  font-size: calc(3.75rem + ((1vw - 7.68px) * 5.2083));
}

.temp-show {
  text-align: left;
  color: #E91E63;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  -webkit-text-stroke: 0px solid white;
}

.hum-show {
  text-align: right;
  color: #00C6E1;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  -webkit-text-stroke: 0px solid white;
}

.accordionflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-top: 15px;
  overflow: visible;
}

.accordion {
  background: rgba(68, 68, 68, 0.5);
  color: #a8a8a8;
  font-size: calc(1.25rem + ((1vw - 4.68px) * 1.1019));
  border: 2px solid #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}

.panel1 {
  border-radius: 5px 5px 0px 0px;
}

.panel2 {
  border-radius: 0px 0px 5px 5px;
}

.accordion.active, .accordion:hover {
  background: rgba(68, 68, 68, 0.75);
  color: #fff;
}

.panel {
  font-size: 3vh;
  padding: 5px 15px;
  background: rgba(68, 68, 68, 0.5);
  border: 2px solid #fff;
  display: none;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-top: 3%;
  min-height: 150px;
  max-height: 100%;
  height: 100%;
}

.button-container button {
  width: 40%;
  text-align: center;
  font-size: calc(0.75rem + ((1vw - 4.68px) * 0.8264));
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  margin: 1%;
}

.btn-huge {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 2px #fff solid;
  border-radius: 5px;
}

.btn-huge.active {
  background: #004350;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
  background: #004350;
  color: #fff;
}

.slider-box {
  padding-top: 3vh;
  width: 40%;
  height: 10vh;
}

#sp-range-slider {
  height: calc(1.25rem + ((1vw - 7.68px) * 1.7361));
  border-radius: calc((1.25rem + ((1vw - 7.68px) * 1.7361)) / 2);
  background: -webkit-gradient(linear, left top, right top, from(#00C6E1), to(#E91E63));
  background: linear-gradient(to right, #00C6E1, #E91E63);
  border: 2px solid white;
}

#sp-handle {
  margin: 0;
  padding: 0;
  width: calc(1.75rem + ((1.5vw - 7.68px) * 1.7361));
  height: calc(1.75rem + ((1.5vw - 7.68px) * 1.7361));
  border: 2px solid white;
  border-radius: 50%;
  background: radial-gradient(circle, #fafafa 1%, #666 99%);
}

#sp-handle:hover {
  background: radial-gradient(circle, #666 1%, #fafafa 99%);
}

.sp-show {
  width: 40%;
  height: 10vh;
  text-align: center;
  text-justify: center;
  padding-top: 2vh;
  text-align: center;
  font-size: calc(1.5rem + ((1vw - 4.68px) * 2.2039));
  min-height: 1vw;
  color: #fff;
}

.canvas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  width: 95%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 130px;
  margin-left: 2.5%;
}

canvas#chart_canvas {
  background: transparent;
  border-color: transparent;
}

.icon-back {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: rgba(68, 68, 68, 0.75);
  border: 2px dotted #fff;
  border-radius: 3vw;
  padding-bottom: 0.5vh;
  height: 9vw;
  width: 9vw;
}

.location {
  line-height: 6vh;
}

.location #owm_city {
  font-size: calc(1.75rem + ((1vw - 4.68px) * 1.2397));
}

.location #owm_cc {
  font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
}

.weather-feel {
  color: #fff;
  line-height: 2vh;
  font-size: calc(0.85rem + ((1vw - 4.68px) * 0.2755));
}

.weather-feel #weather_dets {
  margin-right: 2vw;
}

#temp_out {
  font-size: calc(1.75rem + ((1vw - 4.68px) * 2.2039));
  font-weight: bold;
}

.o-wrapper {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  max-height: 20vh;
}

.weather-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: calc(0.875rem + ((1vw - 4.68px) * 0.2755));
  width: 100%;
}

.forecast {
  width: 100%;
}

.weather-left {
  text-align: right;
  margin-right: 2vw;
}

.weather-right {
  text-align: left;
}

@media all and (min-width: 768px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .accordionflex {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .rightbox {
    padding-top: 15px;
    padding-left: 0;
    min-width: 250px;
  }
  .leftbox {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .sensordata {
    max-height: 350px;
  }
  .temp-show {
    -webkit-text-stroke: 2px #fff;
  }
  .hum-show {
    -webkit-text-stroke: 2px #fff;
  }
  .icon-back {
    padding-top: 1vh;
  }
}

@media (min-width: 1920px) {
  .sp-show {
    font-size: 64px;
  }
}

@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* Style inputs, select elements and textareas */
input[type=text], input[type=file], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #666;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1.1em;
}

/* Style the submit button */
input[type=submit] {
  background-color: #0090AC;
  color: #fff;
  font-size: 1.1em;
  padding: 12px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #0090AC;
}

input[type=color] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
}

#hidden_choice_1 {
  display: none;
}

#hidden_choice_2 {
  display: none;
}

.location_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin: 0;
  position: relative;
}

#location-search {
  background: #e4e4e4;
  width: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#location-search:focus {
  background: #fff;
}

.input_icon {
  position: absolute;
  color: #333;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#search-results {
  display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 15px;
  }
  input[type=submit].general-settings {
    width: 100%;
    margin-top: 15px;
  }
}

@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

input[type=number] {
  width: 20vw;
  min-width: 75px;
  padding: 12px;
  border: 2px solid #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
  float: left;
  font-size: 1.2em;
  text-align: center;
  pointer-events: none;
}

span.spinner {
  position: absolute;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  padding: 12px;
  border: 2px solid #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  background: white;
  color: black;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.spinner > .add {
  top: 0;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

span.spinner > .sub:hover {
  background: #00C6E1;
  color: white;
}

span.spinner > .add:hover {
  background: #E91E63;
  color: white;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.col-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-wrap {
  margin: 45px 0px 15px;
}

.label-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 35px;
}

.col-50 {
  display: block;
  width: 50%;
  float: center;
  text-align: center;
}

.awake_display, .sleep_display {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
  color: white;
}

#awake-display, #sleep-display {
  margin: 0;
  font-family: 'DSEG14 Classic-Bold Italic';
  font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
  text-align: center;
  background: rgba(68, 68, 68, 0.75);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: none;
}

.awake_display {
  margin-right: 15px;
}

#custom-handle-1 {
  background: transparent url(./images/s2_night_day.svg) no-repeat center center;
}

#custom-handle-2 {
  background: transparent url(./images/s2_day_night.svg) no-repeat center center;
}

#custom-handle-1,
#custom-handle-2 {
  margin: 0;
  padding: 0;
  width: calc(6rem + ((1vw - 7.68px) * 2.7778));
  height: calc(3rem + ((1vw - 7.68px) * 1.3889));
  border: none;
  background-size: calc(5.875rem + ((1vw - 7.68px) * 2.7778)) calc(2.875rem + ((1vw - 7.68px) * 1.3889));
  background-position: center;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

#time-range-slider {
  height: calc(1.25rem + ((1vw - 7.68px) * 1.7361));
  margin: 0px 50px;
  border-radius: calc((1.25rem + ((1vw - 7.68px) * 1.7361)) / 2);
  background: #004350;
}

#time-range-slider .ui-slider-range {
  background: #0090AC;
}

#slider-1-label {
  font-family: 'Poppins', sans-serif;
  font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
  text-align: center;
}

.number-input {
  display: block;
  background: rgba(68, 68, 68, 0.75);
  border: 2px solid white !important;
  color: whitesmoke;
  text-align: center;
  width: 20vw;
  height: 40px;
  font-size: 1.2em;
  line-height: normal;
  padding: 0;
  outline: none;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.counter_btn {
  display: inline-block;
  border: 2px solid white;
  color: whitesmoke;
  text-align: center;
  line-height: 2.5;
  width: 50px;
  height: 40px;
}

.incrementer {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: #00C6E1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.incrementer:hover {
  color: #00C6E1;
  background: whitesmoke;
}

.decrementer {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: #E91E63;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.decrementer:hover {
  color: #E91E63;
  background: whitesmoke;
}

@media screen and (max-width: 600px) {
  #scheduler .col-25 {
    width: 100%;
    text-align: center;
  }
  .col-25 {
    margin-top: 0px;
  }
  .label-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col-50 {
    width: 100%;
  }
  input[type=submit].scheduler {
    margin-top: 30px;
    width: 100%;
  }
}

@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("DSEG14 Classic-Bold Italic"), url("./fonts/DSEG14Classic-BoldItalic.woff") format("woff");
}

.active-text .default {
  color: #fff;
}

.inactive-text .default {
  color: #a8a8a8;
}

.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

#room_form {
  display: none;
}

.col-20 {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 25px;
}

.table_title {
  margin-top: 10px;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

a.add_device, a.edit_btn {
  background: #0090AC;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  float: right;
  width: 45px;
  -ms-flex-line-pack: center;
      align-content: center;
}

a.add_device {
  margin-top: 25px;
  background: yellowgreen;
}

a.add_device:hover {
  background: #fff !important;
  color: yellowgreen !important;
}

a.remove_btn {
  background: #E91E63;
  color: #fff;
}

a.edit_btn:hover {
  color: #0090AC;
  background: #fff;
}

a.remove_btn:hover {
  color: #E91E63;
  background: #fff;
}

.room_input {
  width: 20% !important;
  float: left;
  margin-top: 5px !important;
}

.room_add {
  float: left;
  margin-top: 5px !important;
}

.room_sub {
  margin-top: -20px !important;
}

.h-divider {
  border-bottom: 2px solid #a8a8a8;
  width: 100%;
  margin-top: 25px;
}

.input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  margin: 0;
  position: relative;
}

#room_name, #mac_addr {
  background: #e4e4e4;
  width: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  float: left;
}

#priority_row {
  margin-top: 4px;
}

.input_icon {
  margin-top: 3px;
}

@media screen and (max-width: 600px) {
  .table_title {
    display: none;
  }
  .col-20,
  #room_form .col-25,
  #room_form .col-75 {
    width: 100%;
    text-align: center;
  }
  .col-20 {
    margin-top: 0;
  }
  .sens_name {
    text-align: left;
    font-weight: 900;
    font-size: calc(1.25rem + ((1vw - 4.68px) * 0.8264));
  }
  .room_input {
    margin: 10px 0 !important;
    width: 100% !important;
  }
}

/* Universal Styles */
/* ---------------------------------------------------
    BASE.HTML STYLES
----------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', serif;
  background-image: url("./images/back2.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
}

a {
  color: #a8a8a8;
  text-decoration: none;
  font-family: 'Poppins', serif;
}

a:hover {
  color: #fff;
  text-shadow: 1px 1px 2px #aaa;
}

.button-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100vh;
}

/* ---------------------------------------------------
    NAVBAR STYLES
----------------------------------------------------- */
nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  background-image: linear-gradient(#666, #444);
  padding: 5px 20px;
  position: relative;
  -webkit-box-shadow: 1px 1px 3px #333, 0 0 25px #0090AC, 0 0 5px #004350;
          box-shadow: 1px 1px 3px #333, 0 0 25px #0090AC, 0 0 5px #004350;
  z-index: 9999;
}

.logo a:hover {
  text-decoration: none;
}

.navmenu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.navmenu li a {
  display: block;
}

.logo a {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 4px #a8a8a8;
}

.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.item.button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  font-family: 'Poppins-Med';
}

.item.active {
  display: block;
  background: transparent;
}

.item:hover {
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #fff;
          box-shadow: 1px 1px 3px #fff;
}

.item.button:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #e4e4e4;
  display: inline-block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
  top: -5px;
}

.bars:before,
.bars:after {
  background: #e4e4e4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

.bars:hover {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .navmenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .item.button {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  .toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 7.5px 15px;
    background: transparent;
    border: 1px #fff solid;
    border-radius: 50em;
  }
  .button.secondary a {
    background: transparent;
  }
  .button a:hover {
    text-decoration: none;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .button:not(.secondary) a:hover {
    -webkit-box-shadow: 0 0 7px #fff;
            box-shadow: 0 0 7px #fff;
  }
  .button.secondary a:hover {
    color: #fff;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .navmenu li {
    padding: 15px 10px;
  }
  .navmenu li.button {
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */