@import "./variables";

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* Style inputs, select elements and textareas */
input[type=text], input[type=file], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid $primary-dark;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}
  
  /* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1.1em;
}
  
  /* Style the submit button */
input[type=submit] {
  background-color: $primary-accent-theme;
  color: $active-text-dark;
  font-size: 1.1em;
  padding: 12px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: $active-text-dark;
  color: $primary-accent-theme;
}

input[type=color] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
}

#hidden_choice_1 {
  display: none;
}
#hidden_choice_2 {
  display: none;
}

.location_search {
  display: flex;
  align-content: center;
  justify-items: center;
  margin: 0;
  position: relative;
}
#location-search {
  background: $iconcolor;
  width: 100%;

  transition: all 0.15s;
}
#location-search:focus {
  background: $active-text-dark;
}

.input_icon {
  position: absolute;
  color: $inverted-text-dark;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#search-results {
  display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 15px;
  }
  input[type=submit].general-settings {
    width: 100%;
    margin-top: 15px;
  } 
}
