// FONTS:
@font-face {
  font-family: 'DSEG14 Classic-Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('DSEG14 Classic-Bold Italic'), url('./fonts/DSEG14Classic-BoldItalic.woff') format('woff');
  }
// Dark
$iconcolor: #e4e4e4;
$primary-dark: #666;
$secondary-dark: #444;
$primary-accent-theme: #0090AC;
$secondary-accent-theme: #004350;
$active-text-dark: #fff;
$inverted-text-dark: #333;
$inactive-text-dark: #a8a8a8;
$boxcolor: rgba(68,68,68,0.5);
$darkboxcolor: rgba(68,68,68,0.75);
$hum-color: #00C6E1;
$temp-color: #E91E63;
$temp-gradient: linear-gradient(to right, $hum-color, $temp-color);
$slider-handle: radial-gradient(circle, #fafafa 1%, #666 99%);
$slider-handle-hover: radial-gradient(circle, #666 1%, #fafafa 99%);



$navbarback: linear-gradient($primary-dark, $secondary-dark);

.active-text .default {
  color: $active-text-dark;
}
.inactive-text .default {
  color: $inactive-text-dark;
}
.stroke-2 .default {
  -webkit-text-stroke: 2px black;
}

canvas#chart_canvas {
  background: transparent;
  border-color: transparent;
}

.temp-show {
  padding-right: 10vw;
  color:#E91E63;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  -webkit-text-stroke: 2px $active-text-dark;
}

.hum-show {
  color:#00C6E1;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  -webkit-text-stroke: 2px $active-text-dark;
}

.flex-content-sec {
  flex: 1;
  overflow: auto;
}
